.card svg {
    height: 25px;
}

.card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card::before,
.card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
}

.card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
}

.card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
}

.card:hover span {
    opacity: 0;
    z-index: -3;
}

.card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
}

.card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
}

.card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
}

.card .socialLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

.card .socialLink svg {
    transform: scale(1);
}

.card .socialLink:hover {
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}